<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.web.mapper.ClientMapper">
    <select id="getClient" resultType="org.example.web.dto.ClientDto">
        SELECT client_id, client_secret, grant_types, authorities, scope,
               (SELECT
                    ca.NAME
                FROM
                    MAPPING_CLIENT_TO_CLIENT_AUTHORITY mctca
                        LEFT JOIN CLIENT_AUTHORITY ca ON ca.ID = mctca.CLIENT_AUTHORITY_ID
                WHERE
                    mctca.CLIENT_ID = #{id}) as resourceIds,
               (SELECT
                    RESOURCE_SERVER_ID
                FROM
                    MAPPING_CLIENT_TO_RESOURCE_SERVER
                WHERE
                    CLIENT_ID = #{id}
                   ) as authorities
        FROM oauth_clients
        WHERE client_id = #{id}
    </select>
</mapper>